body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fix;
  margin: 0;
  background-color: whitesmoke;

  .wrapper {
    background-color: #5a5050;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 468px;
    border: 1.9px solid #3d3535;

    .mac-control-buttons {
      display: flex;
      background-color: #5a5050;
      margin: 0;
      align-items: center;
      gap: 12px;
      padding-top: 12px;
      padding-left: 15px;
    }

    .control-button {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      cursor: pointer;
      border: none;
      transition: opacity 0.2s;
      &:hover {
        opacity: 0.8;
      }
    }

    .close {
      background-color: #ff5f56;
      &:hover {
        background-color: #ff4343;
      }
    }

    .minimize {
      background-color: #ffbd2e;
      &:hover {
        background-color: #ffb01b;
      }
    }

    .maximize {
      background-color: #27c93f;
      &:hover {
        background-color: #23b939;
      }
    }

    .board {
      display: grid;
      grid-template-columns: repeat(4, 117px);
      margin: 0;
      padding: 10;
      gap: 2px;

      .display {
        grid-column: 1 / -1;
        font-size: 90px;
        letter-spacing: -2px;
        text-align: right;
        font-weight: 300;
        padding-right: 20px;
        background-color: #5a5050;
        color: white;
        height: 78px;
        font-family: 'Inter', sans-serif;
        border: none;
        margin: 0;
        padding-top: 15px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &.display-small {
          font-size: 85px;
        }

        &.display-smaller {
          font-size: 80px;
        }

        &.display-tiny {
          font-size: 76px;
        }

        &.display-minimal {
          font-size: 72px;
        }

        &.display-min {
          font-size: 70px;
        }
        &.editing {
          cursor: text;
          outline: none;
        }

        input[type='text'].display.editing::placeholder {
          color: #999;
        }

        input[type='text'].display:focus {
          outline: none;
        }
      }

      button {
        font-family: 'Inter', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 98px;
        font-size: 40px;
        font-weight: 400;
        border: none;
        cursor: pointer;
        background-color: #827d7d;
        color: white;
        transition: background-color 0.3s;
        padding: 0;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        &:active {
          background-color: white;
          color: #827d7d;
        }

        &.operator-button {
          background-color: orange;
          font-size: 55px;
          &:focus {
            background-color: white;
            color: orange;
          }
        }
        &.special-button {
          background-color: #6e6363;
          font-size: 35px;
          &:active {
            background-color: white;
            color: #6e6363;
          }
        }
        &.equal-button {
          background-color: orange;
          font-size: 50px;
          &:active {
            background-color: white;
            color: orange;
          }
        }
      }
    }
  }
}
.double-width {
  grid-column: span 2;
}

.view-history-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-history-btn:hover {
  background-color: #45a049;
  cursor: pointer;
}
