body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fix;
  margin: 0;
  background-color: whitesmoke;

  .wrapper {
    background-color: #5a5050;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 468px;

    .board {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1px;

      .display {
        grid-column: span 4;
        font-size: 90px;
        text-align: right;
        font-weight: 400;
        padding-right: 20px;
        background-color: #5a5050;
        color: white;
        height: 130px;
        font-family: 'Times New Roman';

        &.display-small {
          font-size: 85px;
        }

        &.display-smaller {
          font-size: 80px;
        }

        &.display-tiny {
          font-size: 76px;
        }

        &.display-minimal {
          font-size: 72px;
        }

        &.display-min {
          font-size: 70px;
        }
      }
      button {
        height: 98px;
        font-size: 40px;
        font-weight: 400;
        border: none;
        cursor: pointer;
        background-color: #827d7d;
        color: white;
        transition: background-color 0.3s;
        padding: 0;
        font-family: 'inter';
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        &:active {
          background-color: white;
          color: #827d7d;
        }
        &.operator-button {
          background-color: orange;
          &:focus {
            background-color: white;
            color: orange;
          }
        }
        &.special-button {
          background-color: #6e6363;
          &:active {
            background-color: white;
            color: #6e6363;
          }
        }
        &.equal-button {
          background-color: orange;
          &:active {
            background-color: white;
            color: orange;
          }
        }
      }
    }
  }
}
.double-width {
  grid-column: span 2;
}

.view-history-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-history-btn:hover {
  background-color: #45a049;
  //cursor: pointer;
}
