body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fix;
  margin: 0;
  background-color: whitesmoke;

  .wrapper {
    background-color: #5a5050;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 468px;

    .board {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1px;

      .display {
        grid-column: span 4;
        font-size: 65px;
        text-align: right;
        font-weight: 400;
        padding-right: 20px;
        background-color: #5a5050;
        color: white;
        height: 130px;
        font-family: 'Times New Roman';

        &.display-small {
          font-size: 60px;
        }

        &.display-smaller {
          font-size: 55px;
        }

        &.display-tiny {
          font-size: 53px;
        }

        &.display-minimal {
          font-size: 50px;
        }

        &.display-min {
          font-size: 47px;
        }

        &.display-miner {
          font-size: 42px;
        }
      }
      button {
        height: 98px;
        font-size: 40px;
        font-weight: 400;
        border: none;
        cursor: pointer;
        background-color: #827d7d;
        color: white;
        transition: background-color 0.3s;
        padding: 0;
        font-family: 'inter';

        &.operator-button {
          background-color: orange;
        }
        &.special-button {
          background-color: #6e6363;
        }
      }
    }
  }
}
.double-width {
  grid-column: span 2;
}
